# System
.DS_Store

# Backend
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/
backend/duolingo.db
backend/alembic.log
backend/*.pyc

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*.local
frontend/.eslintcache
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
